### Final Assignment: Tools for Data Science

In [1]:
# Introduction: In this notebook, we will explore various tools, languages,
# and libraries used in the field of data science.
#It also includes examples of basic arithmetic operations and data conversions.

In [2]:
## Data Science Languages:
#Python
#R
#SQL
#Julia
#Scala
#Java

In [3]:
## Data Science Libraries
#Pandas
#NumPy
#Matplotlib
#Scikit-learn
#TensorFlow
#ggplot2 (R)

In [4]:
## Table of Data Science Tools

#| Category          | Tool              |
#|-------------------|-------------------|
#| IDE               | Jupyter Notebook  |
#| IDE               | RStudio           |
#| Visualization     | Tableau           |
#| Big Data Tools    | Apache Spark      |
#| Machine Learning  | TensorFlow        |

In [5]:
## Examples of Arithmetic Expressions
#Below are some basic arithmetic operations performed using Python.

In [6]:
# This expression multiplies 3 and 4, then adds 5
(3 * 4) + 5

17

In [7]:
# This will convert 200 minutes to hours
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

In [8]:
## Objectives
#List data science languages
#List data science libraries
#Demonstrate basic arithmetic in Python
#Convert minutes to hours using code
#Practice Markdown and Code cells in Jupyter Notebook

In [9]:
## Author
#Gourav Bal